<div ng-include="'./templates/header.html'"></div>
<ion-view>
	<div class="row nome-header">
		<div class="col">
			<h1 class="nome">Cliente home</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-50">
			<button class="button btn-icone" ng-click="irListaContrato()">
				<div class="img-wrapper"><img src="img/file-search.png"></div>
				Ver contratos
			</button>
		</div>
		<div class="col-50">
			<button class="button btn-icone" ng-click="irDadosCadastro()">
				<div class="img-wrapper"><img src="img/user-click.png"></div>
				Dados de cadastro
			</button>
		</div>
	</div>
</ion-view>
