<div ng-include="'./templates/header.html'"></div>
<ion-view>
  	<div ng-repeat="profissional in listaProfissionais">
  		<div class="card">
			<div class="item item-divider">
			    <span class="nome-profissional">{{profissional.nome}}</span>
			    <button class="button btn-excluir" ng-click="abrirConfirmacaoDesassociarProfissional(profissional.id, $index)">
  					<img src="img/delete.png">
				</button>
			</div>
			<div class="item item-text-wrap">
			    <p>CPF: {{profissional.cpf}}</p>
			    <p>E-mail: {{profissional.email}}</p>
			    <p>Profissão: {{profissional.profissao.nome}}</p>
			</div>
		</div>
  	</div>
</ion-view>