<div ng-include="'./templates/header.html'"></div>
<ion-view>
	<div class="row nome-header">
		<div class="col">
			<h1 class="nome">Profissional home</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button btn-icone btn-full" ng-click="irListaContrato()">
				<div class="img-wrapper"><img src="img/file-search.png"></div>
				Visualizar contratos
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<button class="button btn-icone btn-full" ng-click="irDadosEmpresa()">
				<div class="img-wrapper"><img src="img/file-search.png"></div>
				Dados empresa
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<button class="button btn-icone btn-full" ng-click="">
				<div class="img-wrapper"><img src="img/file-search.png"></div>
				Dados de cadastro
			</button>
		</div>
	</div>
</ion-view>
